<style>
    header{
        width: 100%;
        margin: 5px;
    }

    .logos{
        width: 20%;
        float: left;
    }

    .links{
        width: 80%;
        float: right;
    }

    .links a{
        padding: 5px;
    }
</style>

<header>
    <div class="logos">
        <p>Nwata-Jones-ELTD</p>
    </div>
    <div class="links">
        <ul>
            <li><a href="/">Top</a></li>
            <li><a href="/home">Home</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </div>
</header>