<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>about page</title>
</head>
<body>
    {{!-- include header page --}}
    {{>header}}
    {{!-- title and year were passed in from the server.js using the render obj --}}
    <h1>{{title}}</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Obcaecati at repudiandae harum atque. Ullam sint quo eum obcaecati, 
        voluptatum id adipisci vero officia voluptatem architecto cum iste 
        deleniti dolor laboriosam!</p>
    
    {{!--<footer>
        <p>copyright {{year}}</p>
    </footer> --}}

    {{!-- add the footer template in the partials folder --}}
    {{>footer}}
</body>
</html>